@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: roboto, system-ui, sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }

  .logo {
    font-family: "Major Mono Display", monospace;
  }
}
