@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: roboto, system-ui, sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }

  .logo {
    font-family: "Major Mono Display", monospace;
  }
}

.active {
  opacity: 0.67;
}

.loader {
  margin: auto;
  margin-top: 1rem;
  animation-duration: 1s;
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-delay: none;
  animation-timing-function: linear;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
